src/*.exe
src/mariobroscoin
src/mariobroscoind
src/test_mariobroscoin
obj/
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.exe
.MarioBrosCoin

# Compilation and Qt preprocessor part
*.qm

mariobroscoin-qt
Mariobroscoin-Qt.app

# Unit-tests

mariobroscoin-qt_test

# Resources cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build


*.o
*.exe

[Tt]humbs.db
*.DS_Store
obj/
[Bb]uild/
.svn
~$*
[Cc]ontrib/
[Dd]ebug/